<!DOCTYPE html>
<html>
  <head>
    <% include ../lib/bootstrap.v4.ejs %>
  </head>
  <body>
    <% include ../header/header.ejs %>
    <div class="container-fluid bg-muted">
      <div class="mt-0">&nbsp;</div>
      <div class="container bg-white p-5">
        <h1>公司文化</h1>
        <p>
          <small>
            伴随着工业革命和信息革命的发展，人们的生产和生活方式发生深刻改变，智能控制技术、关键传感技术、已经在制造业、服务业、贸易业、公共机构等领域快速渗透，智能控制器在家电等整机产品中扮演“心脏”与“大脑”的核心角色。在国家产业政策的推动下，智能控制器行业日新月异，种类繁多的控制器带动了众多领域终端产品的升级换代，中国已逐步从全球最大的控制器布局中心向最大的制造与设计中心转变。物联网与大数据，成为各类企业制定发展战略的重要关注点之一，基于此的广角度、全方位、多模式产业协作与产业融合成为企业发展战略的重要组成部分。数据将成为全社会的交互媒介，行业边界将被打破，跨界融合成为必然发展趋势。
          </small>
        </p>
        <p>
          <small>
            深圳和而泰集团汇集了清华和哈工大两所著名高校的股东背景，董事长、总裁刘建伟先生原为哈工大教授，是资深自动控制专家。公司坚持高端技术、高端市场、高端客户的经营定位，拥有智能控制器领域500余研发工程师，900多项知识产权，近400项发明专利。公司产品长期占据全球高端市场，年产智能控制器近亿套，16家子公司遍布全球，是伊莱克斯、惠而浦、西门子、B/S/H/、GE、松下、TTI等著名跨国企业的核心合作伙伴。
          </small>
        </p>
        <p>
          <small>
            随着物联网时代的到来，以家庭大数据为核心的产业，正成为物联网时代发展的中流砥柱。和而泰审时度势，适时进行战略延伸，依托19年专注家电智能化的产业经验，结合设备在线自学习管理运行、家庭生活场景数据交互与AI计算领域得天独厚的优势，打造的大数据综合计算服务平台，以大数据为媒介，连接一切价值单元与要素，全周期、全链条、全维度、全方位服务于新一代个人与家庭生活场景集群，并以家庭大数据为内核，支撑全社会按新秩序运行的IoT平台。
          </small>
        </p>
        <p>
          <small>
            针对家庭端构建多层级全场景服务闭环，打造新一代智慧家居生活。结合AI的场景数据规划、定义、分析等技术为智慧家居生活提供包括入户安防、卧室、客厅、厨房、美容、卫浴、等全场景闭环服务。通过大数据平台，打通设备数据、人体体征数据、环境数据之间的关键通道。以家庭大数据为核心，构建多层级可持续运营的大数据生态圈。与此同时，基于多维度、广角度、深周期、长链条的大数据，以产业通道数据定义与数据垂直管理运营能力，大数据平台为行业伙伴提供大数据立体化运营服务，为制造业、服务业、商贸业、政务与公共管理机构的变革提供核心支持。为全方位服务家庭生活、服务产业、服务社会做好了充分准备。
          </small>
        </p>
        <p>
          <small>
            深圳和而泰集团以规范化、专业化、国际化运营管理为发展依托，在技术规划、产品研发、工业设计、功能测试、制造工艺、信息管理等多方面实现与欧美标准全面接轨，凭借自身过硬的产品设计和高标准的服务体系，载誉全球。屡获“国家级高新技术企业” “广东省知识产权示范企业”、“深圳市专利奖”、“深圳市重点软件企业”、“惠而浦技术创新奖”、“伊莱克斯卓越供应商大奖”、“Hunter杰出供应商”等殊荣。
          </small>
        </p>
        <p>
          <small>
            十九载专注务实的征程，深圳和而泰集团始终秉承“敏锐敏捷，认同认真”的企业精神，始终坚持把握先进技术，占有核心技术、转换实用技术的技术方针。今天和而泰已经掀开崭新的一页，涉足资本市场，布局物联网大数据平台，将为公司拓展更宽广的发展空间。不断进取的和而泰人将永不停息，实现做令人尊敬的企业的永恒追求。
          </small>
        </p>
      </div>
      <div class="mt-1">&nbsp;</div>
    </div>
    <% include ../footer/footer.ejs %>
  </body>
</html>