/*——————————————————————————————————base start————————————————————————————————*/
.bg-muted{
  background-color: #f2f2f2;
}


/*——————————————————————————————————base end——————————————————————————————————*/





/*——————————————————————————————————header start——————————————————————————————*/

.navbar-nav li{
  font-size: 20px;
  border-bottom: 3px solid #fff;
}
.navbar-nav .sel{
  border-bottom: 3px solid #0303ec;
}
/*——————————————————————————————————header end————————————————————————————————*/



/*——————————————————————————————————body start————————————————————————————————*/
a {
  color: #3d4348;
}
#content:hover{
  text-decoration: none;
  color: orange;
}
.a_hover:hover{
  text-decoration: none;
  color: orange;
}
/*——————————————————————————————————body end——————————————————————————————————*/



/*——————————————————————————————————footer start——————————————————————————————*/
.bg-footer{
  background-color: #989898;
}
#footer .m-le{
  margin-left: 9px;
}
/*——————————————————————————————————footer end————————————————————————————————*/