<!DOCTYPE html>
<html>
  <head>
    <% include ../lib/bootstrap.v4.ejs %>
  </head>
  <body>
    <% include ../header/header.ejs %>
    <div class="container-fluid bg-muted">
      <div class="container bg-white">
        <h1>投资者关系</h1>
      </div>
    </div>
    <% include ../footer/footer.ejs %>
  </body>
</html>