<div class="container-fluid bg-footer text-white" id="footer">
  <div class="container pt-5">
    <div class="row">
      <div class="col-2">
        <h5>关于我们</h5>
        <p class="m-le">经营理念</p>
        <p class="m-le">发展历程</p>
        <p class="m-le">企业荣誉</p>
        <p class="m-le">联系我们</p>
      </div>
      <div class="col-2 offset-6">
        <img src="/images/logo_net.png" alt="">
      </div>
      <div class="col-2">
          <img style="width: 160px;height:160px;" src="/images/logo.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p>
          <small>Powered by 9240</small>
        </p>
      </div>
      <div class="col-6">
        <p class="float-right">
          <small>( 粤ICP备18026971号 ) </small>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p>
          <small>© 2019-2019 9240</small>
        </p>
      </div>
      <div class="col-6">
        <p class="float-right">
          <small><%=new Date() %></small>
        </p>
      </div>
    </div>
  </div>
</div>