<link rel="stylesheet" href="/stylesheets/adStyle.css">
<nav class="navbar navbar-light bg-primary">
  <span class="navbar-brand text-white" href="javascript:void(0)">
    <img src="http://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    管理员页面
  </span>
  <button class="btn btn btn-outline-dark text-white" id="logout">退出</button>
</nav>
<script src="javascripts/adIndex.js"></script>