<link rel="stylesheet" href="/stylesheets/adStyle.css">
<nav class="navbar navbar-expand navbar-light bg-primary">
  <span class="navbar-brand text-white" href="javascript:void(0)">
    <img src="http://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    管理员页面
  </span>
  <div class="collapse navbar-collapse ml-5" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/admin">首页 <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/carousel">轮播图</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/proCate">产品分类</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/product">产品</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/news">新闻</a>
      </li>
    </ul>
  </div>
  <button class="btn btn btn-outline-dark text-white" id="logout">退出</button>
</nav>
<script src="/javascripts/adIndex.js"></script>